language: java
jdk:
  - openjdk8

branches: # 1.
  only:
    - master

before_install:
  - chmod +x gradlew

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

before_deploy:
  - zip -r board ./*
  - mkdir -p deploy
  - mv board.zip deploy/board.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: singa-travis-bucket
    region: ap-southeast-1
    cleanup: true
    acl: private
    local_dir: deploy
    wait_until_deployed: true

  - provider: codedeploy
    on:
      all_branches: true
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: singa-travis-bucket
    key: board.zip # 빌드 파일을 압축해서 전달
    bundle_type: zip # 압축 확장자
    application: singapore-codedeploy # 웹 콘솔에서 등록한 CodeDeploy 애플리케이션
    deployment_group: singapore-codedeploy-group # 웹 콘솔에서 등록한 CodeDeploy 배포 그룹
    region: ap-southeast-1
    wait_until_deployed: true

# Travis CI 실행 완료 후 자동 알림 설정
notifications:
  email:
    recipients:
      - wrjang@naver.com